<!DOCTYPE html>
<html>

<!--
  Planet HTML template.

  This is intended to demonstrate and document Planet's templating
  facilities, and at the same time provide a good base for you to
  modify into your own design.

  The output's a bit boring though, if you're after less documentation
  and more instant gratification, there's an example with a much
  prettier output in the fancy-examples/ directory of the Planet source.

  Lines like this are comments, and are automatically removed by the
  templating engine before processing.

  Planet makes a large number of variables available for your templates.
  See INSTALL for the complete list.  The raw value can be placed in your
  output file using <%= varname %>.  We'll put the name of our
  Planet in the page title and again in an h1.
-->
 
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>
</head>

<body>
<h1><%= site.title %></h1>

<!--
  One of the two loops available is the feeds loop.  This allows you
  to easily create a list of subscriptions, which is exactly what we'll do
  here.
-->

<div style="float: right">
<h2>Subscriptions</h2>
<ul>
  <% site.feeds.each do |feed| %>  
  <li>
    <%= link_to feed.title, feed.url, title: feed.title2 %>
    <%= link_to '(feed)' feed.feed_url %>
  </li>
  <% end %>
</ul>
</div>


<!--
  The other loop is the items loop, which will get iterated for each
  news item.
-->

<%
   items = site.items.latest.limit(24)
   ItemCursors.new( items ).each do |item, new_date, new_feed|
%>

<!--
  Visually distinguish articles from different days by checking for
  the new_date flag.  This demonstrates the <% if varname %> ... <% end %>
  check.
-->

<% if new_date %>
<h2><%= item.published_at %></h2>
<% end %>

<!--
  Group consecutive articles by the same author together by checking
  for the new_feed flag.
-->

<% if new_feed %>
<h3><%= link_to item.feed.title, item.feed.url, title: item.feed.title2 %></h3>
<% end %>


<% if item.title %>
<h4><%= link_to item.title, item.url %></h4>
<% end %>

<div>
<%= textify( item.content ) %>
</div>

<!--
<p>
<em><a href="<TMPL_VAR link ESCAPE="HTML">">
  <TMPL_IF author>
     by <TMPL_VAR author> at
  </TMPL_IF>
  <TMPL_VAR date>
</a></em>
</p>
-->

<% end %>

<hr>
<p>
<%= link_to 'Powered by Pluto', 'https://github/feedreader' %><br>
<em>Last updated: <%= site.fetched_at %></em>
</p>
</body>

</html>
