<!DOCTYPE html>
<html>

<!--
  Planet HTML template.

  This is intended to demonstrate and document Planet's templating
  facilities, and at the same time provide a good base for you to
  modify into your own design.

  The output's a bit boring though, if you're after less documentation
  and more instant gratification, there's an example with a much
  prettier output in the fancy-examples/ directory of the Planet source.

  Lines like this are comments, and are automatically removed by the
  templating engine before processing.

  Planet makes a large number of variables available for your templates.
  See INSTALL for the complete list.  The raw value can be placed in your
  output file using <%= varname>.  We'll put the name of our
  Planet in the page title and again in an h1.
-->
 
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>
</head>

<body>
<h1><%= site.title %></h1>

<!--
  One of the two loops available is the Channels loop.  This allows you
  to easily create a list of subscriptions, which is exactly what we'll do
  here.

  Note that we can also expand variables inside HTML tags, but we need
  to be cautious and HTML-escape any illegal characters using the form
 <TMPL_VAR varname ESCAPE="HTML">
-->

<div style="float: right">
<h2>Subscriptions</h2>
<ul>
<!-- GB - fix: use site.subscriptions.each do instead of Feed
    add  title: feed.title for <TMPL_VAR title ESCAPE="HTML"> ??
  -->
 <% Feed.all.each do |feed| %>  
  <li>
    <%= link_to feed.title, feed.url %>
    <%= link_to '(feed)' feed.feed_url %>
  </li>
  <% end %>
</ul>
</div>

<!--
  The other loop is the Items loop, which will get iterated for each
  news item.
-->

<%
   items = ItemCursor.new( Item.latest.limit(24) )
   items.each do |item, new_date, new_feed|
%>

<!--
  Visually distinguish articles from different days by checking for
  the new_date flag.  This demonstrates the <TMPL_IF varname> ... </TMPL_IF>
  check.
-->

<% if new_date %>
<h2><%= item.published_at %></h2>
<% end %>

<!--
  Group consecutive articles by the same author together by checking
  for the new_feed flag.
-->

<% if new_feed %>
<h3><%= link_to item.feed.title, item.feed.url %></h3>
<% end %>

<!-- GB: check
   planet planet
     is using var name  for author (e.g a person's name - always required)
     and using var title for the site title (not the author's name) - optional
     
     fix: make name a property different from title in schema!!! why? why not??
<TMPL_IF title>
<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
  -->
<p>
<%= textify( item.summary ) %>
</p>

<p>
<em><a href="<TMPL_VAR link ESCAPE="HTML">">
  <TMPL_IF author>
     by <TMPL_VAR author> at
  </TMPL_IF>
  <TMPL_VAR date>
</a></em>
</p>

<% end %>

<hr>
<p>
<%= link_to 'Powered by Pluto', 'https://github/feedreader' %><br>
<em>Last updated: <%= site.fetched_at %></em>
</p>
</body>

</html>
